<div class="container-fluid" style="margin-top:10px;">
    <div class="row">
        <div class="col-xs-3">
            <label>Manufacturer</label>
            <input required name="manufacturer" type="text" ng-model="selection.manufacturer" placeholder="Manufacturer" uib-typeahead="m as m.manufacturerName for m in searchManufacturer($viewValue)" typeahead-min-length="3" class="form-control">
        </div>
        <div class="col-xs-3">
            <label>Model</label>
            <input typeahead-on-select="update()" ng-disabled="!selection.manufacturer" required name="model" type="text" ng-model="selection.model" placeholder="Model" uib-typeahead="m as m.modelName for m in searchModel($viewValue)" typeahead-min-length="3" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div ng-if="selection.model">
                <div style="margin-bottom:15px;margin-top:15px;">
                    <button ng-click="addConfiguration(selection.sizeclass,selection.model)" class="btn btn-default">Add</button>
                    <button ng-click="editConfiguration(selectedConfiguration)" ng-disabled="!selectedConfiguration" class="btn btn-default">Edit</button>
                    <button ng-disabled="!configurationsGrid.data || configurationsGrid.data.length===0" class="btn btn-default" ng-csv="configurationsGrid.data" csv-header="getHeader()" csv-column-order="getHeader()" quote-strings filename="configurations.csv">Export</button>
                </div>
                <div ui-grid="configurationsGrid" ui-grid-auto-resize ui-grid-selection ui-grid-resize-columns></div>
            </div>
        </div>
    </div>
</div>