<div class="container-fluid" style="margin-top:10px;">
    <div class="row">
        <div class="col-xs-3">
            <label>Manufacturer</label>
            <input required name="manufacturer" type="text" ng-model="selection.manufacturer" placeholder="Manufacturer" uib-typeahead="m as m.manufacturerName for m in searchManufacturer($viewValue)"
                typeahead-min-length="3" class="form-control">
        </div>
        <div class="col-xs-3">
            <label>Model</label>
            <input typeahead-on-select="update()" ng-disabled="!selection.manufacturer" required name="model" type="text" ng-model="selection.model"
                placeholder="Model" uib-typeahead="m as m.modelName for m in searchModel($viewValue)" typeahead-min-length="3"
                class="form-control">
        </div>
        <div class="col-xs-3">
            <label>Configuration Id</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Configuration Id" ng-model="configurationId">
                <span class="input-group-btn">
                  <button ng-click="loadConfiguration()" class="btn btn-default" type="button">Go</button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div style="margin-bottom:15px;margin-top:15px;">
                    <button ng-disabled="!configurationsGrid.data || configurationsGrid.data.length===0" class="btn btn-default" ng-csv="configurationsGrid.data"
                        csv-header="getHeader()" csv-column-order="getHeader()" quote-strings filename="configurations.csv">Export</button>
                    <button ng-click="addConfiguration(selection.sizeclass,selection.model)" class="btn btn-default">Add</button>
                    <button ng-click="editConfiguration(selectedConfiguration)" ng-disabled="!selectedConfiguration" class="btn btn-default">Edit</button>
                    <div class="btn-group" uib-dropdown is-open="options.isopen">
                        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="!selectedConfiguration">
                              Options <span class="caret"></span>
                            </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a ng-click="showProducts(selectedConfiguration)">Products</a></li>
                            <li role="menuitem"><a ng-href="#/values?configurationId={{selectedConfiguration.configurationId}}">Values</a></li>
                            <li role="menuitem"><a ng-href="#/specs?configurationId={{selectedConfiguration.configurationId}}">Specifications</a></li>
                            <li role="menuitem"><a ng-href="#/options?sizeClassId={{selectedConfiguration.sizeClassId}}&modelYear={{selectedConfiguration.modelYear}}">Options</a></li>
                        </ul>
                    </div>
                </div>
                <div ui-grid="configurationsGrid" ui-grid-auto-resize ui-grid-selection ui-grid-resize-columns></div>
            </div>
        </div>
    </div>
</div>