<div class="container-fluid" style="padding-top:15px;padding-bottom:15px;">
    <h3>{{title}}</h3>
    <hr>
    <div class="row">
        <form name="frm">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Family</label>
                    <input required name="specFamily" type="text" class="form-control" ng-model="item.specFamily">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input required name="specName" type="text" class="form-control" ng-model="item.specName">
                </div>
                <div class="form-group">
                    <label>Friendly Name</label>
                    <input required name="specNameFriendly" type="text" class="form-control" ng-model="item.specNameFriendly">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Value</label>
                    <input required name="specValue" type="text" class="form-control" ng-model="item.specValue">
                </div>
                <div class="form-group">
                    <label>UoM</label>
                    <input required name="specUom" type="text" class="form-control" ng-model="item.specUom">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input required name="specDescription" type="text" class="form-control" ng-model="item.specDescription">
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="clearfix">
        <button ng-if="item.id" class="btn btn-danger" ng-click="delete()">Delete</button>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>