<div class="container-fluid" style="padding-top:15px;padding-bottom:15px;">
    <form name="frm">
        <div class="form-group" ng-if="configuration.configurationId">
            <label>Configuration Id</label>
            <p class="form-control-static">{{configuration.configurationId}}</p>
        </div>
        <div class="form-group">
            <label>Size Class Id</label>
            <input required name="sizeClassId" type="number" class="form-control" ng-model="configuration.sizeClassId">
        </div>
        <div class="form-group">
            <label>Model Id</label>
            <input required name="modelId" type="number" class="form-control" ng-model="configuration.modelId">
        </div>
        <div class="form-group">
            <label>Model Year</label>
            <input required name="modelYear" type="text" class="form-control" ng-model="configuration.modelYear">
        </div>
        <div class="form-group">
            <label>VIN Model Number</label>
            <input name="vinModelNumber" type="text" class="form-control" ng-model="configuration.vinModelNumber">
        </div>
        <hr>
        <button ng-if="configuration.configurationId" class="btn btn-danger" ng-click="delete()">Delete</button>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="$close()">Cancel</button>
        </div>
    </form>
</div>