<div class="container-fluid" style="padding-top:15px;padding-bottom:15px;">
    <h3>{{title}}</h3>
    <h3><small>Revision {{item.revisionDate}}</small></h3>
    <hr>
    <div class="row">
        <form name="frm">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>MSRP</label>
                    <input required name="msrp" type="text" class="form-control" ng-model="item.msrp">
                </div>
                <div class="form-group">
                    <label>Finance</label>
                    <input required name="finance" type="text" class="form-control" ng-model="item.finance">
                </div>
                <div class="form-group">
                    <label>Retail</label>
                    <input required name="retail" type="text" class="form-control" ng-model="item.retail">
                </div>
                <div class="form-group">
                    <label>Wholesale</label>
                    <input required name="wholesale" type="text" class="form-control" ng-model="item.wholesale">
                </div>
                <div class="form-group">
                    <label>Trade In</label>
                    <input required name="tradeIn" type="text" class="form-control" ng-model="item.tradeIn">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Asking Price</label>
                    <input required name="askingPrice" type="text" class="form-control" ng-model="item.askingPrice">
                </div>
                <div class="form-group">
                    <label>Auction Price</label>
                    <input required name="auctionPrice" type="text" class="form-control" ng-model="item.auctionPrice">
                </div>
                <div class="form-group">
                    <label>Low</label>
                    <input required name="low" type="text" class="form-control" ng-model="item.low">
                </div>
                <div class="form-group">
                    <label>High</label>
                    <input required name="high" type="text" class="form-control" ng-model="item.high">
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="clearfix">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>