<div class="container-fluid" style="padding-top:15px;padding-bottom:15px;">
    <form name="frm">
        <div class="form-group">
            <label>Category Id</label>
            <p class="form-control-static">{{category.categoryId}}</p>
        </div>
        <div class="form-group">
            <label>Classification Id</label>
            <p class="form-control-static">{{category.classificationId}}</p>
        </div>
        <div class="form-group">
            <label>Category Name</label>
            <input required name="categoryName" type="text" class="form-control" ng-model="category.categoryName">
        </div>
        <hr>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="$close()">Cancel</button>
        </div>
    </form>
</div>