<div class="container-fluid" style="padding-top:15px;padding-bottom:15px;">
    <form name="frm">
        <div class="form-group">
            <label>Size Class Id</label>
            <p class="form-control-static">{{item.sizeClassId}}</p>
        </div>
        <div class="form-group">
            <label>Manufacturer Id</label>
            <p class="form-control-static">{{item.manufacturerId}}</p>
        </div>
        <div class="form-group">
            <label>Model Year</label>
            <input required name="modelYear" type="text" minlength="4" maxlength="4" class="form-control" ng-model="item.modelYear">
        </div>
        <div class="form-group">
            <label>Freshwater Value</label>
            <input required name="fwAdj" type="number" class="form-control" ng-model="item.fwAdj">
        </div>
        <div class="form-group">
            <label>Saltwater Value</label>
            <input required name="swAdj" type="number" class="form-control" ng-model="item.swAdj">
        </div>
        <hr>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="$close()">Cancel</button>
        </div>
    </form>
</div>