<div class="container-fluid" style="padding-top:15px;padding-bottom:15px;">
    <form name="frm">
        <div class="form-group">
            <label>Model Id</label>
            <p class="form-control-static">{{item.modelId}}</p>
        </div>
        <div class="form-group">
            <label>Model Name</label>
            <p class="form-control-static">{{item.modelName}}</p>
        </div>
        <div class="form-group">
            <label>Model Alias</label>
            <input required name="modelAlias" type="text" class="form-control" ng-model="item.modelAlias">
        </div>
        <hr>
        <button ng-if="item.id" class="btn btn-danger" ng-click="delete()">Delete</button>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="$close()">Cancel</button>
        </div>
    </form>
</div>