<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="exampleInputName2">Model Id</label>
            <p class="form-control-static">1</p>
        </div>
        <div class="form-group">
            <label for="exampleInputName2">Model Name</label>
            <input type="text" class="form-control" placeholder="Caterpillar">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">Manufacturer</label>
            <select class="form-control" ng-model="selection.sizeclass" ng-options="c.manufacturerId as c.manufacturerName for c in taxonomy.manufacturers"></select>
        </div>
        <div class="form-group">
            <label for="exampleInputName2">Size Class</label>
            <select class="form-control" ng-model="selection.sizeclass" ng-options="c.sizeClassId as c.sizeClassName for c in taxonomy.sizeclasses"></select>
        </div>
    </form>
</div>