<div class="container-fluid">
    <div class="form-inline" style="margin-top:25px;margin-bottom:25px;">
        <div class="form-group">
            <label>Table</label>
            <select ng-model="table" class="form-control" ng-options="tbl as tbl.title for tbl in tables">{{tbl}}</select>
        </div>
        <div class="form-group">
            <label>Import Type</label>
            <select ng-model="importType" class="form-control" ng-options="k as v for (k,v) in importTypes">{{v}}</select>
        </div>
        <button ng-disabled="!table||!importType" ng-click="import()" class="btn btn-success">Import</button>
    </div>
    <div ng-if="table&&importType" class="alert alert-info">
        <p>CSV file must contain a header of the form:</p>
        <p>{{table.header[importType].join(', ')}}</p>
    </div>
</div>