<div class="container">
	<div style="margin-top:15px;">
		<div class="panel panel-default" style="width:400px;margin-left:auto;margin-right:auto;">
			<div class="panel-body">
				<form>
					<div class="form-group">
						<input class="form-control" style="width:100%" type="text" name="user" ng-model="user" ng-disabled="loading" placeholder="Email" />
					</div>
					<div class="form-group">
						<input class="form-control" style="width:100%" type="password" name="pass" ng-model="pass" ng-disabled="loading" placeholder="Password" />

					</div>
					<button class="btn btn-primary" ng-click="submit()" ng-disabled="loading">Login</button>
					<a class="pull-right" ng-click="reset()"><small>Forgot Password</small></a>
				</form>
				<div class="text-muted">{{message}}</div>
			</div>
		</div>
	</div>
</div>
