<div class="container-fluid">
    <div class="form-inline" style="margin-top:25px;margin-bottom:25px;">
        <div class="form-group">
            <label>Model Id</label>
            <input ng-model="modelId" type="text" class="form-control" />
            <button ng-click="load(modelId)" class="btn btn-default">Search</button>
        </div>
        <div class="pull-right">
            <h3>{{model.manufacturerName}} {{model.modelName}}</h3>
        </div>
    </div>
    <div style="margin-bottom:15px;margin-top:15px;">
        <button ng-disabled="!model" ng-click="add(model)" class="btn btn-default">Add</button>
        <button ng-click="edit(selected)" ng-disabled="!selected" class="btn btn-default">Edit</button>
        <button disabled class="btn btn-default">Import</button>
        <button ng-disabled="!grid.data || grid.data.length===0" class="btn btn-default" ng-csv="grid.data" csv-header="getHeader()" csv-column-order="getHeader()" quote-strings filename="model-aliases.csv">Export</button>
    </div>
    <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection></div>
</div>