<div class="container-fluid">
    <div class="form-inline" style="margin-top:25px;margin-bottom:25px;">
        <div class="form-group">
            <label>Size Class Id</label>
            <input ng-model="sizeClassId" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Model Year</label>
            <input ng-model="modelYear" type="text" class="form-control" />
        </div>
        <button ng-click="load(sizeClassId,modelYear)" class="btn btn-default">Search</button>
        <div class="pull-right">
            <h3>{{modelYearSelected}} {{sizeClass.sizeClassName}}</h3>
        </div>
    </div>
    <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection></div>
</div>