<div class="container-fluid">
    <div class="row" style="margin-top:25px;margin-bottom:25px;">
        <div class="col-xs-2">
            <label>Classification</label>
            <select aria-placeholder="Classification" class="form-control" ng-change="getCategories()" ng-model="selection.classificationId"
                ng-options="c.classificationId as c.classificationName for c in classifications | orderBy:'classificationName'"></select>
        </div>
        <div class="col-xs-2">
            <label>Category</label>
            <select class="form-control" ng-change="getSubtypes()" ng-model="selection.categoryId" ng-disabled="!selection.classificationId"
                ng-options="c.categoryId as c.categoryName for c in categories | orderBy:'categoryName'"></select>
        </div>
        <div class="col-xs-2">
            <label>Subtype</label>
            <select class="form-control" ng-change="getSizeClasses()" ng-model="selection.subtypeId" ng-disabled="!selection.categoryId"
                ng-options="c.subtypeId as c.subtypeName for c in subtypes | orderBy:'subtypeName'"></select>
        </div>
        <div class="col-xs-2">
            <label>Size Class</label>
            <select class="form-control" ng-change="load(selection.sizeclass.sizeClassId)" ng-model="selection.sizeclass" ng-disabled="!selection.subtypeId"
                ng-options="c as (c.sizeClassName+' ('+c.sizeClassMin+'-'+c.sizeClassMax+' '+c.sizeClassUom+')') for c in sizeclasses | orderBy:'sizeClassName'"></select>
        </div>
    </div>
    <div style="margin-bottom:15px;margin-top:15px;">
        <!-- <button ng-disabled="!selection.sizeclass" ng-click="add(selection.sizeclass)" class="btn btn-default">Add</button>
        <button ng-click="edit(selected)" ng-disabled="!selected" class="btn btn-default">Edit</button> -->
        <button ng-disabled="!gridOptions.data || gridOptions.data.length===0" class="btn btn-default" ng-csv="gridOptions.data"
            csv-header="getHeader()" csv-column-order="getHeader()" quote-strings filename="residual-values-sizes.csv">Export</button>
    </div>
    <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection ui-grid-resize-columns></div>
</div>