<div class="container-fluid">
    <div class="form-inline" style="margin-top:25px;margin-bottom:25px;">
        <div class="form-group">
            <label>Configuration Id</label>
            <input ng-model="configId" type="text" class="form-control" />
            <button ng-click="load(configId)" class="btn btn-default">Search</button>
        </div>
    </div>
    <div style="margin-bottom:15px;margin-top:15px;">
        <button ng-disabled="!configId" ng-click="add(configId)" class="btn btn-default">Add</button>
        <button ng-click="edit(selected)" ng-disabled="!selected" class="btn btn-default">Edit</button>
        <button ng-disabled="!gridOptions.data || gridOptions.data.length===0" class="btn btn-default" ng-csv="gridOptions.data" csv-header="getHeader()" csv-column-order="getHeader()" quote-strings filename="specs.csv">Export</button>
    </div>
    <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection ui-grid-resize-columns></div>
</div>