<div>
    <table class="table">
        <thead>
            <tr>
                <th>Classification</th>
                <th>Category</th>
                <th>Subtype</th>
                <th>SizeClass</th>
                <th>Manufacturer</th>
                <th>Model</th>
            </tr>
            <tr>
                <th><select class="form-control" ng-change="getCategories()" ng-model="selection.classification" ng-options="c.classificationId as c.classificationName for c in taxonomy.classifications"></select></th>
                <th><select class="form-control" ng-change="getSubtypes()" ng-model="selection.category" ng-disabled="!selection.classification" ng-options="c.categoryId as c.categoryName for c in taxonomy.categories"></select></th>
                <th><select class="form-control" ng-change="getSizeClasses()" ng-model="selection.subtype" ng-disabled="!selection.category" ng-options="c.subtypeId as c.subtypeName for c in taxonomy.subtypes"></select></th>
                <th><select class="form-control" ng-change="getManufacturers()" ng-model="selection.sizeclass" ng-disabled="!selection.subtype" ng-options="c.sizeClassId as c.sizeClassName for c in taxonomy.sizeclasses"></select></th>
                <th><select class="form-control" ng-change="getModels()" ng-model="selection.manufacturer" ng-disabled="!selection.sizeclass" ng-options="c.manufacturerId as c.manufacturerName for c in taxonomy.manufacturers"></select></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in data | orderBy : ['classificationName','categoryName','subtypeName','sizeClassName','manufacturerName','modelName']">
                <td><button ng-click="editClassification(d.classificationId)" class="btn btn-link">{{d.classificationName}}</button></td>
                <td><button ng-click="editCategory(d.categoryId)" class="btn btn-link">{{d.categoryName}}</button></td>
                <td><button ng-click="editSubtype(d.subtypeId)" class="btn btn-link">{{d.subtypeName}}</button></td>
                <td><button ng-click="editSizeClass(d.sizeClassId)" class="btn btn-link">{{d.sizeClassName}}</button></td>
                <td><button ng-click="editManufacturer(d.manufacturerId)" class="btn btn-link">{{d.manufacturerName}}</button></td>
                <td><button ng-click="editModel(d.modelId)" class="btn btn-link">{{d.modelName}}</button></td>
            </tr>
        </tbody>
    </table>
</div>