@import '~antd/dist/antd.css';
@import '~antd/dist/antd.css';
.header{
    background-color: #01283a;
}
.footer{
    background-color: #01283a;
    color: white;
    text-align: center;
}

.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }
  
.logo-section {
    padding: 15px;
}
.logo-header {
    height:30px;
}

.list-light{
    background-color:white
}
.list-light li:hover{
    background-color:whitesmoke;
    cursor: pointer;
}

.switch-stoplight{
    background-color: red;
}
.switch-stoplight.ant-switch-checked{
    background-color: green;
}

.popover-200 .ant-popover-inner {
    max-width: 300px;
}
.popover-200 .ant-popover-content {
   font-size: 12px;
}