@import '~antd/dist/antd.css';
@import '~antd/dist/antd.css';
.header{
    backgroundColor: #01283a;
}
.footer{
    backgroundColor: #01283a;
    color: white;
    text-align: center;
}

.right-align {
   align-items: flex-end;
   align-content: flex-end;
}

.menu-style {

    height: 100vh;
    width: 250px;
    position: fixed;
    }

.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }

.logo-section {
    padding: 15px;
}
.logo-header {
    height:30px;
}

.list-light{
    backgroundColor:white
}
.list-light li:hover{
    backgroundColor:whitesmoke;
    cursor: pointer;
}

.switch-stoplight{
    backgroundColor: red;
}
.switch-stoplight.ant-switch-checked{
    backgroundColor: green;
}

.popover-200 .ant-popover-inner {
    max-width: 300px;
}
.popover-200 .ant-popover-content {
   font-size: 12px;
}

.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 25px !important;
    line-height: 25px !important;
}