.diagram {
    float: left;
    width: 308px;
    height: 300px;
    padding-right: 5px;
}

.diagram {
    background: #fff url(f.jpg) 50% 10px no-repeat;
}

h2 {
    position: absolute;
    margin: 165px -40px;
    width: 390px;
    text-align: center;
    font: 36px 'arial black';
}

.diagram .mylabel {
    border-color: #ddd;
    font-weight: bold;
    position: absolute;
    display: block;
    padding: 1px 0 1px 2px;
    width: 100px;
    font-size: 130%;
    text-align: center;
    border-radius: 4px;
}

.pitcher {
    margin: 215px 100px;
}

.catcher {
    margin: 255px 100px;
}

.first {
    margin: 185px 205px;
}

.second {
    margin: 145px 175px;
}

.over {
    margin: 95px 145px;
}

.short {
    margin: 145px 65px;
}

.leftcenter {
    margin: 55px 55px;
}

.rightcenter {
    margin: 55px 160px;
}

.third {
    margin: 185px 25px;
}

.center {
    margin: 60px 122px;
}

.right {
    margin: 105px 190px;
}

.left {
    margin: 105px 25px;
}

.sittingBox {
    position: absolute;
    margin: 230px 235px;
    padding: 4px;
    width: 90px;
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
}

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 2px 0 2px 24px;
}

.print-landscape {
    @page {
        size: landscape;
    }
}

.jersey {
    padding-left: 12px !important;
}

.no-print {
    display: none;
}

.no-padding {
    padding-left: 4px;
}

md-toolbar {
    display: none;
}

.md-toolbar {
    display: none;
}

.md-whiteframe-1dp {
    box-shadow: none;
}

table.md-table tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row {
    height: auto;
}

table.md-table, tbody.md-body, md-content, .md-table-container {
    min-height: 90vh !important;
}

table.md-table td.md-cell {
    font-weight: bold;
}

table.md-table td.md-cell md-select > .md-select-value > span.md-select-icon {
    display: none;
}

body, html, main {
    background-color: #fff;
}

.sitting {}